<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Avaliacao/

    # Redireciona a raiz para a pasta /public
    RewriteRule ^$ public/ [L]

    # Redireciona todas as requisições para o arquivo index.php dentro de /public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . public/index.php [L]
</IfModule>
