<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteBase /Avaliacao/

    # Redireciona a raiz para a pasta /public
    RewriteRule ^$ public/ [L]

    # Redireciona tudo que não seja um arquivo ou diretório físico para /public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>